{
  "openapi": "3.0.3",
  "info": {
    "title": "API de FANDIT",
    "version": "v2",
    "description": "Referencia completa de la API REST de FANDIT: subvenciones, concesiones, usuarios, expertos, clientes, contactos y expedientes.\n\n**Autenticación — dos tokens distintos:**\n- `Token de usuario`: para el bloque Buscador/Subvenciones (filtros, búsqueda, detalle, concesiones, simuladores, normativa, evaluación, documentos requeridos, relacionadas, chatbot) y para el login propio de usuario (`/users/login/`) y `/users/current/`.\n- `Token de experto`: para el resto de endpoints de gestión (usuarios, clientes, contactos, expedientes) y para `/experts/current/`.\n\nEl prefijo de la cabecera cambia según el tipo de token: `Authorization: Token TU_API_KEY` para token de usuario, `Authorization: ExpertToken TU_API_KEY` para token de experto. Los endpoints de login/registro (`/users/login/`, `/experts/login`, y los de SSO en `/api/v1/users/partners-brand/`) no requieren esta cabecera — el token se obtiene como resultado del login o viaja como parámetro en el body en el caso de los endpoints SSO.\n\nLa mayoría de endpoints del bloque Subvenciones devuelven 403 tanto si falta token como si el usuario no tiene créditos suficientes en su cuenta: conviene tratarlos como casos distintos en la capa de aplicación.",
    "contact": {
      "name": "FANDIT",
      "url": "https://www.fandit.es"
    }
  },
  "servers": [
    {
      "url": "https://api.fandit.es",
      "description": "Producción (dominio genérico)"
    },
    {
      "url": "https://{plataforma}.api.fandit.es",
      "description": "Marca blanca: sustituye {plataforma} por el subdominio de tu marca.",
      "variables": {
        "plataforma": {
          "default": "demo",
          "description": "Subdominio de tu marca blanca (por ejemplo, demo.api.fandit.es)."
        }
      }
    }
  ],
  "tags": [
    {
      "name": "Filtros"
    },
    {
      "name": "Autenticación (legacy / SSO)"
    },
    {
      "name": "Autenticación"
    },
    {
      "name": "Usuarios"
    },
    {
      "name": "Subvenciones"
    },
    {
      "name": "Expedientes"
    },
    {
      "name": "Clientes"
    },
    {
      "name": "Contactos"
    }
  ],
  "components": {
    "securitySchemes": {
      "UserTokenAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Token de usuario. Formato: `Authorization: Token TU_API_KEY`. Se obtiene en POST /users/login/. Necesario para el bloque Buscador/Subvenciones y para /users/current/."
      },
      "ExpertTokenAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Token de experto. Formato: `Authorization: ExpertToken TU_API_KEY` (prefijo distinto al token de usuario). Se obtiene en POST /experts/login. Necesario para el resto de endpoints de gestión (usuarios, clientes, contactos, expedientes) y para /experts/current/."
      }
    }
  },
  "paths": {
    "/api/v1/users/partners-brand/check-user/{email}": {
      "get": {
        "tags": [
          "Autenticación (legacy / SSO)"
        ],
        "summary": "Validar correo",
        "operationId": "sso_auth_email_validation",
        "description": "Petición para validar si un correo ya existe en la plataforma.",
        "security": [],
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "required": true,
            "description": "Correo electrónico a validar.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta correcta",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "username": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "username": "laura.gomez"
                }
              }
            }
          },
          "400": {
            "description": "Petición inválida (parámetros o formato incorrecto)."
          },
          "401": {
            "description": "Falta la cabecera Authorization o el token no es válido."
          },
          "403": {
            "description": "No autorizado (token del tipo incorrecto, o sin créditos suficientes en endpoints que consumen créditos)."
          },
          "404": {
            "description": "Recurso no encontrado."
          }
        }
      }
    },
    "/api/v1/users/partners-brand/delete-user/": {
      "delete": {
        "tags": [
          "Autenticación (legacy / SSO)"
        ],
        "summary": "Eliminar de usuario",
        "operationId": "sso_users_management_delete_user",
        "description": "Petición para eliminar un usuario registrado.",
        "security": [],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "OTP del usuario.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta correcta",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "example": "Usuario eliminado correctamente."
              }
            }
          },
          "400": {
            "description": "Petición inválida (parámetros o formato incorrecto)."
          },
          "401": {
            "description": "Falta la cabecera Authorization o el token no es válido."
          },
          "403": {
            "description": "No autorizado (token del tipo incorrecto, o sin créditos suficientes en endpoints que consumen créditos)."
          },
          "404": {
            "description": "Recurso no encontrado."
          }
        }
      }
    },
    "/api/v1/users/partners-brand/login/": {
      "post": {
        "tags": [
          "Autenticación (legacy / SSO)"
        ],
        "summary": "Login de usuario",
        "operationId": "sso_auth_log_in",
        "description": "Petición para iniciar sesión de un usuario con su correo y contraseña.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Correo electrónico con el que registrar el usuario."
                  },
                  "password": {
                    "type": "string",
                    "description": "Contraseña."
                  }
                },
                "required": [
                  "email",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respuesta correcta",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "otp": {
                      "type": "string"
                    },
                    "uuid": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "otp": "482913",
                  "uuid": "3f2504e0-4f89-11d3-9a0c-0305e82c3301"
                }
              }
            }
          },
          "400": {
            "description": "Petición inválida (parámetros o formato incorrecto)."
          },
          "401": {
            "description": "Falta la cabecera Authorization o el token no es válido."
          },
          "403": {
            "description": "No autorizado (token del tipo incorrecto, o sin créditos suficientes en endpoints que consumen créditos)."
          },
          "404": {
            "description": "Recurso no encontrado."
          }
        }
      }
    },
    "/api/v1/users/partners-brand/password-change/": {
      "put": {
        "tags": [
          "Autenticación (legacy / SSO)"
        ],
        "summary": "Cambio de contraseña",
        "operationId": "sso_users_management_password_change",
        "description": "Petición para cambiar la contraseña de un usuario ya registrado.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Token de usuario."
                  },
                  "password": {
                    "type": "string",
                    "description": "Contraseña."
                  },
                  "password_confirm": {
                    "type": "string",
                    "description": "Confirmación de contraseña."
                  }
                },
                "required": [
                  "token",
                  "password",
                  "password_confirm"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respuesta correcta",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "example": "Contraseña actualizada correctamente."
              }
            }
          },
          "400": {
            "description": "Petición inválida (parámetros o formato incorrecto)."
          },
          "401": {
            "description": "Falta la cabecera Authorization o el token no es válido."
          },
          "403": {
            "description": "No autorizado (token del tipo incorrecto, o sin créditos suficientes en endpoints que consumen créditos)."
          },
          "404": {
            "description": "Recurso no encontrado."
          }
        }
      }
    },
    "/api/v1/users/partners-brand/registration/": {
      "post": {
        "tags": [
          "Autenticación (legacy / SSO)"
        ],
        "summary": "Registro de usuarios",
        "operationId": "sso_users_management_registration",
        "description": "Petición para registrar un nuevo usuario en la plataforma.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string",
                    "description": "Nombre del usuario."
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Apellido del usuario."
                  },
                  "email": {
                    "type": "string",
                    "description": "Correo electrónico con el que registrar el usuario."
                  },
                  "password1": {
                    "type": "string",
                    "description": "Contraseña."
                  },
                  "password2": {
                    "type": "string",
                    "description": "Confirmación de contraseña."
                  },
                  "platform": {
                    "type": "string",
                    "description": "Plataforma hija, en caso de tener."
                  },
                  "general_notifications": {
                    "type": "boolean",
                    "description": "Recibir notificaciones generales."
                  }
                },
                "required": [
                  "first_name",
                  "email",
                  "password1",
                  "password2"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respuesta correcta",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "otp": {
                      "type": "string"
                    },
                    "uuid": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "otp": "927154",
                  "uuid": "7c9e6679-7425-40de-944b-e07fc1f90ae7"
                }
              }
            }
          },
          "400": {
            "description": "Petición inválida (parámetros o formato incorrecto)."
          },
          "401": {
            "description": "Falta la cabecera Authorization o el token no es válido."
          },
          "403": {
            "description": "No autorizado (token del tipo incorrecto, o sin créditos suficientes en endpoints que consumen créditos)."
          },
          "404": {
            "description": "Recurso no encontrado."
          }
        }
      }
    },
    "/api/v2/clients/": {
      "get": {
        "tags": [
          "Clientes"
        ],
        "summary": "Listado de clientes",
        "operationId": "v2_customers_list",
        "description": "Petición paginada para obtener todos los clientes que correspondan según el permiso del gestor.",
        "security": [
          {
            "ExpertTokenAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "Página del listado a visualizar.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "description": "Tamaño de la paginación (Obligatorio, máximo 200).",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "Nombre de atributo por el que ordenar los resultados.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "general_text",
            "in": "query",
            "required": false,
            "description": "Texto a buscar en todos los campos del cliente.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email__contains",
            "in": "query",
            "required": false,
            "description": "Correo electrónico del cliente.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nif__icontains",
            "in": "query",
            "required": false,
            "description": "NIF/CIF del cliente.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reference__icontains",
            "in": "query",
            "required": false,
            "description": "Referencia del cliente.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "business_name__icontains",
            "in": "query",
            "required": false,
            "description": "Nombre o razón social.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contacts__icontains",
            "in": "query",
            "required": false,
            "description": "Contacto del cliente.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "simulator_check",
            "in": "query",
            "required": false,
            "description": "Cliente con perfil de solicitante completo.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status__in",
            "in": "query",
            "required": false,
            "description": "Estado del usuario.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expert__in",
            "in": "query",
            "required": false,
            "description": "Mostrar solo mis clientes asignados.",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "name": "provinces_to_work__id__in",
            "in": "query",
            "required": false,
            "description": "Provincias de interés del cliente.",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "name": "applicant_types_v2__id__in",
            "in": "query",
            "required": false,
            "description": "Tipo de solicitante (mismo espacio de ids que `applicants` en /data-filters/).",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "name": "province_id__in",
            "in": "query",
            "required": false,
            "description": "Provincia de la sede.",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "name": "cnaes__id__in",
            "in": "query",
            "required": false,
            "description": "CNAE(s) del cliente.",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta correcta",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string"
                    },
                    "previous": {
                      "type": "string",
                      "nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "expert_data": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              }
                            }
                          },
                          "experts": {
                            "type": "array",
                            "items": {
                              "type": "integer"
                            }
                          },
                          "public": {
                            "type": "boolean"
                          },
                          "status": {
                            "type": "integer"
                          },
                          "platform_data": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string"
                              }
                            }
                          },
                          "nif": {
                            "type": "string"
                          },
                          "business_name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string",
                            "nullable": true
                          },
                          "reference": {
                            "type": "string",
                            "nullable": true
                          },
                          "notes": {
                            "type": "string",
                            "nullable": true
                          },
                          "province": {
                            "type": "array",
                            "items": {
                              "type": "integer"
                            }
                          },
                          "address": {
                            "type": "string"
                          },
                          "postal_code": {
                            "type": "string"
                          },
                          "location": {
                            "type": "string"
                          },
                          "legal_representative_name": {
                            "type": "string"
                          },
                          "legal_representative_nif": {
                            "type": "string"
                          },
                          "legal_representation_type": {
                            "type": "string"
                          },
                          "contacts": {
                            "type": "string"
                          },
                          "cnaes": {
                            "type": "array",
                            "items": {
                              "type": "integer"
                            }
                          },
                          "provinces_to_work": {
                            "type": "array",
                            "items": {
                              "type": "integer"
                            }
                          },
                          "applicant_types": {
                            "type": "array",
                            "items": {
                              "type": "integer"
                            }
                          },
                          "action_items": {
                            "type": "array",
                            "items": {
                              "type": "integer"
                            }
                          },
                          "employees_quantity": {
                            "type": "integer"
                          },
                          "constitution_date": {
                            "type": "string"
                          },
                          "last_year_billing": {
                            "type": "integer"
                          },
                          "investment_budget": {
                            "type": "integer"
                          },
                          "project_description": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "count": 128,
                  "next": "https://api.fandit.es/api/v2/clients/?page=2&page_size=10",
                  "previous": null,
                  "results": [
                    {
                      "id": 3021,
                      "expert_data": {
                        "id": 45,
                        "name": "María Fernández",
                        "email": "maria.fernandez@despacho.es"
                      },
                      "experts": [
                        45,
                        52
                      ],
                      "public": false,
                      "status": 1,
                      "platform_data": {
                        "id": 2,
                        "name": "FANDIT"
                      },
                      "nif": "B12345678",
                      "business_name": "Innovatech Soluciones SL",
                      "email": "contacto@innovatech-soluciones.es",
                      "phone": null,
                      "reference": null,
                      "notes": null,
                      "province": [
                        28
                      ],
                      "address": "Calle Alcalá 120, 3ºB",
                      "postal_code": "28009",
                      "location": "Madrid",
                      "legal_representative_name": "Carlos Ruiz Gómez",
                      "legal_representative_nif": "12345678Z",
                      "legal_representation_type": "Administrador único",
                      "contacts": "Carlos Ruiz Gómez - 600111222",
                      "cnaes": [
                        6201,
                        6202
                      ],
                      "provinces_to_work": [
                        28,
                        8
                      ],
                      "applicant_types": [
                        1,
                        3
                      ],
                      "action_items": [
                        1,
                        2
                      ],
                      "employees_quantity": 18,
                      "constitution_date": "2015-03-12",
                      "last_year_billing": 850000,
                      "investment_budget": 120000,
                      "project_description": "Digitalización de procesos internos y desarrollo de nueva plataforma de gestión."
                    },
                    {
                      "id": 3045,
                      "expert_data": {
                        "id": 52,
                        "name": "Javier Ortega",
                        "email": "javier.ortega@despacho.es"
                      },
                      "experts": [
                        52
                      ],
                      "public": true,
                      "status": 1,
                      "platform_data": {
                        "id": 2,
                        "name": "FANDIT"
                      },
                      "nif": "44556677Q",
                      "business_name": "Panadería Hermanos Soler",
                      "email": "info@panaderiasoler.es",
                      "phone": null,
                      "reference": "REF-2024-0198",
                      "notes": "Cliente interesado en ayudas de digitalización",
                      "province": [
                        8
                      ],
                      "address": "Avinguda Diagonal 455",
                      "postal_code": "08036",
                      "location": "Barcelona",
                      "legal_representative_name": "Marta Soler Puig",
                      "legal_representative_nif": "87654321X",
                      "legal_representation_type": "Autónomo",
                      "contacts": "Marta Soler Puig - 611223344",
                      "cnaes": [
                        1071
                      ],
                      "provinces_to_work": [
                        8
                      ],
                      "applicant_types": [
                        2
                      ],
                      "action_items": [
                        3
                      ],
                      "employees_quantity": 6,
                      "constitution_date": "2019-07-01",
                      "last_year_billing": 210000,
                      "investment_budget": 35000,
                      "project_description": "Ampliación de obrador y compra de maquinaria."
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Petición inválida (parámetros o formato incorrecto)."
          },
          "401": {
            "description": "Falta la cabecera Authorization o el token no es válido."
          },
          "403": {
            "description": "No autorizado (token del tipo incorrecto, o sin créditos suficientes en endpoints que consumen créditos)."
          },
          "404": {
            "description": "Recurso no encontrado."
          }
        }
      },
      "post": {
        "tags": [
          "Clientes"
        ],
        "summary": "Crear cliente",
        "operationId": "v2_customers_create",
        "description": "Petición crear un nuevo cliente.",
        "security": [
          {
            "ExpertTokenAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nif": {
                    "type": "string",
                    "description": "NIF/CIF del cliente."
                  },
                  "business_name": {
                    "type": "string",
                    "description": "Nombre o razón social del cliente."
                  },
                  "email": {
                    "type": "string",
                    "description": "Correo electrónico del cliente."
                  },
                  "phone": {
                    "type": "string",
                    "description": "Teléfono del cliente."
                  }
                },
                "required": [
                  "nif"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Respuesta correcta",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "expert_data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        }
                      }
                    },
                    "experts": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    },
                    "public": {
                      "type": "boolean"
                    },
                    "status": {
                      "type": "integer"
                    },
                    "platform_data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    },
                    "nif": {
                      "type": "string"
                    },
                    "business_name": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "phone": {
                      "type": "string"
                    },
                    "reference": {
                      "type": "string",
                      "nullable": true
                    },
                    "notes": {
                      "type": "string",
                      "nullable": true
                    },
                    "province": {
                      "type": "array",
                      "items": {}
                    },
                    "address": {
                      "type": "string"
                    },
                    "postal_code": {
                      "type": "string"
                    },
                    "location": {
                      "type": "string"
                    },
                    "legal_representative_name": {
                      "type": "string"
                    },
                    "legal_representative_nif": {
                      "type": "string"
                    },
                    "legal_representation_type": {
                      "type": "string"
                    },
                    "contacts": {
                      "type": "string"
                    },
                    "cnaes": {
                      "type": "array",
                      "items": {}
                    },
                    "provinces_to_work": {
                      "type": "array",
                      "items": {}
                    },
                    "applicant_types": {
                      "type": "array",
                      "items": {}
                    },
                    "action_items": {
                      "type": "array",
                      "items": {}
                    },
                    "employees_quantity": {
                      "type": "string",
                      "nullable": true
                    },
                    "constitution_date": {
                      "type": "string",
                      "nullable": true
                    },
                    "last_year_billing": {
                      "type": "string",
                      "nullable": true
                    },
                    "investment_budget": {
                      "type": "string",
                      "nullable": true
                    },
                    "project_description": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "id": 3102,
                  "expert_data": {
                    "id": 45,
                    "name": "María Fernández",
                    "email": "maria.fernandez@despacho.es"
                  },
                  "experts": [
                    45
                  ],
                  "public": false,
                  "status": 1,
                  "platform_data": {
                    "id": 2,
                    "name": "FANDIT"
                  },
                  "nif": "B98765432",
                  "business_name": "Talleres Mecánicos Rivas SL",
                  "email": "admin@talleresrivas.es",
                  "phone": "911223344",
                  "reference": null,
                  "notes": null,
                  "province": [],
                  "address": "",
                  "postal_code": "",
                  "location": "",
                  "legal_representative_name": "",
                  "legal_representative_nif": "",
                  "legal_representation_type": "",
                  "contacts": "",
                  "cnaes": [],
                  "provinces_to_work": [],
                  "applicant_types": [],
                  "action_items": [],
                  "employees_quantity": null,
                  "constitution_date": null,
                  "last_year_billing": null,
                  "investment_budget": null,
                  "project_description": ""
                }
              }
            }
          },
          "400": {
            "description": "Petición inválida (parámetros o formato incorrecto)."
          },
          "401": {
            "description": "Falta la cabecera Authorization o el token no es válido."
          },
          "403": {
            "description": "No autorizado (token del tipo incorrecto, o sin créditos suficientes en endpoints que consumen créditos)."
          },
          "404": {
            "description": "Recurso no encontrado."
          }
        }
      }
    },
    "/api/v2/clients/share/": {
      "post": {
        "tags": [
          "Clientes"
        ],
        "summary": "Compartir clientes",
        "operationId": "v2_customers_share",
        "description": "Petición para compartir clientes con otros gestores.",
        "security": [
          {
            "ExpertTokenAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "Array de ids de clientes a compartir (Obligatorio, formato: 1, 2, 3)."
                  },
                  "experts": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "Array de ids de experts con los que compartir (Obligatorio, formato: 1, 2, 3)."
                  }
                },
                "required": [
                  "client_ids",
                  "experts"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respuesta correcta",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "response": "Se han compartido 3 cliente(s) con 2 experto(s) correctamente."
                }
              }
            }
          },
          "400": {
            "description": "Petición inválida (parámetros o formato incorrecto)."
          },
          "401": {
            "description": "Falta la cabecera Authorization o el token no es válido."
          },
          "403": {
            "description": "No autorizado (token del tipo incorrecto, o sin créditos suficientes en endpoints que consumen créditos)."
          },
          "404": {
            "description": "Recurso no encontrado."
          }
        }
      }
    },
    "/api/v2/clients/{client_id}/": {
      "get": {
        "tags": [
          "Clientes"
        ],
        "summary": "Detalle del cliente",
        "operationId": "v2_customers_detail",
        "description": "Petición para obtener toda la información de una cliente específico.",
        "security": [
          {
            "ExpertTokenAuth": []
          }
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "description": "client_id del cliente a buscar.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta correcta",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "expert_data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        }
                      }
                    },
                    "experts": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    },
                    "public": {
                      "type": "boolean"
                    },
                    "status": {
                      "type": "integer"
                    },
                    "platform_data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    },
                    "nif": {
                      "type": "string"
                    },
                    "business_name": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "phone": {
                      "type": "string",
                      "nullable": true
                    },
                    "reference": {
                      "type": "string",
                      "nullable": true
                    },
                    "notes": {
                      "type": "string",
                      "nullable": true
                    },
                    "province": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    },
                    "address": {
                      "type": "string"
                    },
                    "postal_code": {
                      "type": "string"
                    },
                    "location": {
                      "type": "string"
                    },
                    "legal_representative_name": {
                      "type": "string"
                    },
                    "legal_representative_nif": {
                      "type": "string"
                    },
                    "legal_representation_type": {
                      "type": "string"
                    },
                    "contacts": {
                      "type": "string"
                    },
                    "cnaes": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    },
                    "provinces_to_work": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    },
                    "applicant_types": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    },
                    "action_items": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    },
                    "employees_quantity": {
                      "type": "integer"
                    },
                    "constitution_date": {
                      "type": "string"
                    },
                    "last_year_billing": {
                      "type": "integer"
                    },
                    "investment_budget": {
                      "type": "integer"
                    },
                    "project_description": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "id": 3021,
                  "expert_data": {
                    "id": 45,
                    "name": "María Fernández",
                    "email": "maria.fernandez@despacho.es"
                  },
                  "experts": [
                    45,
                    52
                  ],
                  "public": false,
                  "status": 1,
                  "platform_data": {
                    "id": 2,
                    "name": "FANDIT"
                  },
                  "nif": "B12345678",
                  "business_name": "Innovatech Soluciones SL",
                  "email": "contacto@innovatech-soluciones.es",
                  "phone": null,
                  "reference": null,
                  "notes": null,
                  "province": [
                    28
                  ],
                  "address": "Calle Alcalá 120, 3ºB",
                  "postal_code": "28009",
                  "location": "Madrid",
                  "legal_representative_name": "Carlos Ruiz Gómez",
                  "legal_representative_nif": "12345678Z",
                  "legal_representation_type": "Administrador único",
                  "contacts": "Carlos Ruiz Gómez - 600111222",
                  "cnaes": [
                    6201,
                    6202
                  ],
                  "provinces_to_work": [
                    28,
                    8
                  ],
                  "applicant_types": [
                    1,
                    3
                  ],
                  "action_items": [
                    1,
                    2
                  ],
                  "employees_quantity": 18,
                  "constitution_date": "2015-03-12",
                  "last_year_billing": 850000,
                  "investment_budget": 120000,
                  "project_description": "Digitalización de procesos internos y desarrollo de nueva plataforma de gestión."
                }
              }
            }
          },
          "400": {
            "description": "Petición inválida (parámetros o formato incorrecto)."
          },
          "401": {
            "description": "Falta la cabecera Authorization o el token no es válido."
          },
          "403": {
            "description": "No autorizado (token del tipo incorrecto, o sin créditos suficientes en endpoints que consumen créditos)."
          },
          "404": {
            "description": "Recurso no encontrado."
          }
        }
      },
      "patch": {
        "tags": [
          "Clientes"
        ],
        "summary": "Actualizar cliente",
        "operationId": "v2_customers_update",
        "description": "Petición para actualizar los datos de un cliente específico.",
        "security": [
          {
            "ExpertTokenAuth": []
          }
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "description": "Identificador del cliente a actualizar.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nif": {
                    "type": "string",
                    "description": "NIF/CIF del cliente."
                  },
                  "business_name": {
                    "type": "string",
                    "description": "Nombre o razón social del cliente."
                  },
                  "email": {
                    "type": "string",
                    "description": "Correo electrónico del cliente."
                  },
                  "phone": {
                    "type": "string",
                    "description": "Teléfono del cliente."
                  },
                  "public": {
                    "type": "boolean",
                    "description": "Cliente disponible para compartir con otros gestores."
                  },
                  "status": {
                    "type": "string",
                    "description": "Estado del usuario."
                  },
                  "address": {
                    "type": "string",
                    "description": "Dirección del cliente."
                  },
                  "postal_code": {
                    "type": "string",
                    "description": "Codigo postal del cliente."
                  },
                  "location": {
                    "type": "string",
                    "description": "Localización del cliente."
                  },
                  "legal_representative_name": {
                    "type": "string",
                    "description": "Nombre de representante legal."
                  },
                  "legal_representative_nif": {
                    "type": "string",
                    "description": "NIF/CIF de representante legal."
                  },
                  "legal_representation_type": {
                    "type": "string",
                    "description": "Tipo de representación legal."
                  },
                  "province": {
                    "type": "number",
                    "description": "Provincia de la sede."
                  },
                  "cnaes": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "CNAE(s) del cliente."
                  },
                  "provinces_to_work": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "Provincias de interés del cliente."
                  },
                  "applicant_types": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "Tipo de solicitante."
                  },
                  "action_items": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "Acciones a llevar a cabo."
                  },
                  "employees_quantity": {
                    "type": "number",
                    "description": "Cantidad de empleados."
                  },
                  "constitution_date": {
                    "type": "string",
                    "description": "Fecha de constitución."
                  },
                  "last_year_billing": {
                    "type": "number",
                    "description": "Facturación anual."
                  },
                  "investment_budget": {
                    "type": "number",
                    "description": "Inversión prevista."
                  },
                  "project_description": {
                    "type": "string",
                    "description": "Descripción del proyecto."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respuesta correcta",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "expert_data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        }
                      }
                    },
                    "experts": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    },
                    "public": {
                      "type": "boolean"
                    },
                    "status": {
                      "type": "integer"
                    },
                    "platform_data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    },
                    "nif": {
                      "type": "string"
                    },
                    "business_name": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "phone": {
                      "type": "string"
                    },
                    "reference": {
                      "type": "string",
                      "nullable": true
                    },
                    "notes": {
                      "type": "string",
                      "nullable": true
                    },
                    "province": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    },
                    "address": {
                      "type": "string"
                    },
                    "postal_code": {
                      "type": "string"
                    },
                    "location": {
                      "type": "string"
                    },
                    "legal_representative_name": {
                      "type": "string"
                    },
                    "legal_representative_nif": {
                      "type": "string"
                    },
                    "legal_representation_type": {
                      "type": "string"
                    },
                    "contacts": {
                      "type": "string"
                    },
                    "cnaes": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    },
                    "provinces_to_work": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    },
                    "applicant_types": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    },
                    "action_items": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    },
                    "employees_quantity": {
                      "type": "integer"
                    },
                    "constitution_date": {
                      "type": "string"
                    },
                    "last_year_billing": {
                      "type": "integer"
                    },
                    "investment_budget": {
                      "type": "integer"
                    },
                    "project_description": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "id": 3021,
                  "expert_data": {
                    "id": 45,
                    "name": "María Fernández",
                    "email": "maria.fernandez@despacho.es"
                  },
                  "experts": [
                    45,
                    52
                  ],
                  "public": true,
                  "status": 1,
                  "platform_data": {
                    "id": 2,
                    "name": "FANDIT"
                  },
                  "nif": "B12345678",
                  "business_name": "Innovatech Soluciones SL",
                  "email": "contacto@innovatech-soluciones.es",
                  "phone": "910445566",
                  "reference": null,
                  "notes": null,
                  "province": [
                    28
                  ],
                  "address": "Calle Alcalá 120, 3ºB",
                  "postal_code": "28009",
                  "location": "Madrid",
                  "legal_representative_name": "Carlos Ruiz Gómez",
                  "legal_representative_nif": "12345678Z",
                  "legal_representation_type": "Administrador único",
                  "contacts": "Carlos Ruiz Gómez - 600111222",
                  "cnaes": [
                    6201,
                    6202
                  ],
                  "provinces_to_work": [
                    28,
                    8
                  ],
                  "applicant_types": [
                    1,
                    3
                  ],
                  "action_items": [
                    1,
                    2
                  ],
                  "employees_quantity": 22,
                  "constitution_date": "2015-03-12",
                  "last_year_billing": 920000,
                  "investment_budget": 150000,
                  "project_description": "Digitalización de procesos internos y desarrollo de nueva plataforma de gestión."
                }
              }
            }
          },
          "400": {
            "description": "Petición inválida (parámetros o formato incorrecto)."
          },
          "401": {
            "description": "Falta la cabecera Authorization o el token no es válido."
          },
          "403": {
            "description": "No autorizado (token del tipo incorrecto, o sin créditos suficientes en endpoints que consumen créditos)."
          },
          "404": {
            "description": "Recurso no encontrado."
          }
        }
      },
      "delete": {
        "tags": [
          "Clientes"
        ],
        "summary": "Eliminar cliente",
        "operationId": "v2_customers_delete",
        "description": "Petición un cliente en específico.",
        "security": [
          {
            "ExpertTokenAuth": []
          }
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "description": "Id del cliente.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta correcta",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Response": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "Response": "Cliente eliminado correctamente."
                }
              }
            }
          },
          "400": {
            "description": "Petición inválida (parámetros o formato incorrecto)."
          },
          "401": {
            "description": "Falta la cabecera Authorization o el token no es válido."
          },
          "403": {
            "description": "No autorizado (token del tipo incorrecto, o sin créditos suficientes en endpoints que consumen créditos)."
          },
          "404": {
            "description": "Recurso no encontrado."
          }
        }
      }
    },
    "/api/v2/crm/fund-dashboard-data/": {
      "get": {
        "tags": [
          "Subvenciones"
        ],
        "summary": "Dashboard de subvenciones agregadas",
        "operationId": "v2_crm_fund_dashboard_data",
        "description": "Petición para obtener estadísticas agregadas de convocatorias activas (conteo e importe total) agrupadas por distintas dimensiones (comunidades, provincias, actividades, tipos de solicitante, tipos de convocatoria, acciones, orígenes y ámbito territorial) y por ventana temporal (día, semana, mes), dentro de un rango de fechas de alta de la convocatoria. Pensado para alimentar paneles/dashboards internos, no para el buscador de convocatorias en sí (para eso usa GET /funds/). La respuesta no está paginada.",
        "security": [
          {
            "UserTokenAuth": []
          },
          {
            "ExpertTokenAuth": []
          }
        ],
        "parameters": [
          {
            "name": "requestData",
            "in": "query",
            "required": true,
            "description": "Objeto de filtros serializado como JSON. Debe incluir como mínimo start_date y end_date.",
            "schema": {
              "type": "object",
              "properties": {
                "start_date": {
                  "type": "string",
                  "format": "date",
                  "description": "Fecha de alta de la convocatoria, inicio de rango. Formato YYYY-MM-DD."
                },
                "end_date": {
                  "type": "string",
                  "format": "date",
                  "description": "Fecha de alta de la convocatoria, fin de rango. Formato YYYY-MM-DD."
                },
                "communities": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  },
                  "description": "IDs de comunidad autónoma."
                },
                "provinces": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  },
                  "description": "IDs de provincia."
                },
                "applicants_v2": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  },
                  "description": "IDs de tipo de solicitante (mismo espacio de ids que `applicants` en /data-filters/)."
                },
                "activities_v2": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  },
                  "description": "IDs de actividad/sector."
                },
                "actions_v2": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  },
                  "description": "IDs de acción/línea de ayuda."
                },
                "types": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  },
                  "description": "IDs de tipo de convocatoria."
                },
                "region_types": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  },
                  "description": "IDs de ámbito territorial."
                },
                "origins": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  },
                  "description": "IDs de origen de fondos."
                },
                "order_by": {
                  "type": "string",
                  "description": "Campo de ordenación de los resultados agrupados (por defecto `count`)."
                }
              },
              "required": [
                "start_date",
                "end_date"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta correcta",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "object",
                      "description": "Objeto con una clave por dimensión (communities, provinces, activities_v2, applicant_types_v2, types, actions_v2, origins), cada una con la forma {months, weeks, days, globals}, más los agregados globales total, total_amount, values y region_types."
                    }
                  }
                },
                "example": {
                  "results": {
                    "communities": {
                      "months": [
                        {
                          "label": "2026-01-01 - 2026-01-31",
                          "count": 42,
                          "total": 15000000
                        }
                      ],
                      "weeks": [],
                      "days": [],
                      "globals": [
                        {
                          "communities": 13,
                          "name": "Comunidad de Madrid",
                          "count": 42,
                          "total": 15000000
                        }
                      ]
                    },
                    "provinces": {
                      "months": [],
                      "weeks": [],
                      "days": [],
                      "globals": []
                    },
                    "activities_v2": {
                      "months": [],
                      "weeks": [],
                      "days": [],
                      "globals": []
                    },
                    "applicant_types_v2": {
                      "months": [],
                      "weeks": [],
                      "days": [],
                      "globals": []
                    },
                    "types": {
                      "months": [],
                      "weeks": [],
                      "days": [],
                      "globals": []
                    },
                    "actions_v2": {
                      "months": [],
                      "weeks": [],
                      "days": [],
                      "globals": []
                    },
                    "origins": {
                      "months": [],
                      "weeks": [],
                      "days": [],
                      "globals": []
                    },
                    "total": 42,
                    "total_amount": {
                      "total_amount": 15000000
                    },
                    "values": {
                      "days": [],
                      "weeks": [],
                      "months": []
                    },
                    "region_types": [
                      {
                        "region_type": 1,
                        "count": 42,
                        "total": 15000000,
                        "name": "Nacional"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Petición inválida (parámetros o formato incorrecto)."
          },
          "401": {
            "description": "Falta la cabecera Authorization o el token no es válido."
          },
          "403": {
            "description": "No autorizado (token del tipo incorrecto, o sin créditos suficientes en endpoints que consumen créditos)."
          },
          "404": {
            "description": "Recurso no encontrado."
          }
        }
      }
    },
    "/api/v2/data-filters/": {
      "get": {
        "tags": [
          "Filtros"
        ],
        "summary": "Filtros generales",
        "operationId": "data_filters",
        "description": "Devuelve el catálogo completo de valores de referencia usados por el resto de endpoints: tipos de solicitante, actividades/sectores, comunidades autónomas y provincias (con provinces anidadas), líneas de crédito, orígenes de fondos, tipos de ayuda, CNAEs, grupos de acción, etc. Cada elemento trae su id, que es el que hay que usar como filtro en los demás endpoints. Los ids devueltos aquí bajo applicants, activities y actions son compatibles con los campos applicants_v2/activities_v2/actions_v2 usados en /funds/ y /funds/concessions/ (mismo espacio de ids, a pesar de la diferencia de nombre). No consume créditos, solo requiere token de usuario.",
        "security": [
          {
            "UserTokenAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta correcta",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "action_items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "action_groups": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "action_items": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "integer"
                                      },
                                      "name": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "activities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "applicants": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "cnaes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "code2009": {
                            "type": "string"
                          },
                          "id": {
                            "type": "integer"
                          },
                          "title": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "communities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "action": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          },
                          "country": {
                            "type": "integer"
                          },
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "provinces": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer"
                                },
                                "name": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "credits": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string"
                          },
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "groups": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "origins": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "action": {
                            "type": "string"
                          },
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "provinces": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "regions_types": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "integer"
                          },
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "types_fund": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "user_profile": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "action_items": [
                    {
                      "name": "Digitalización",
                      "action_groups": [
                        {
                          "name": "Transformación digital",
                          "action_items": [
                            {
                              "id": 1,
                              "name": "Implantación de ERP"
                            },
                            {
                              "id": 2,
                              "name": "Comercio electrónico"
                            }
                          ]
                        }
                      ]
                    }
                  ],
                  "activities": [
                    {
                      "id": 4,
                      "name": "Industria manufacturera"
                    },
                    {
                      "id": 6,
                      "name": "Energías renovables"
                    }
                  ],
                  "applicants": [
                    {
                      "id": 1,
                      "name": "Autónomo"
                    },
                    {
                      "id": 2,
                      "name": "Pyme"
                    }
                  ],
                  "cnaes": [
                    {
                      "code": "4321",
                      "code2009": "4321",
                      "id": 4321,
                      "title": "Instalaciones eléctricas"
                    }
                  ],
                  "communities": [
                    {
                      "action": "update",
                      "code": "MD",
                      "country": 1,
                      "id": 13,
                      "name": "Comunidad de Madrid",
                      "provinces": [
                        {
                          "id": 28,
                          "name": "Madrid"
                        }
                      ]
                    }
                  ],
                  "credits": [
                    {
                      "description": "Línea ICO Empresas y Emprendedores",
                      "id": 1,
                      "name": "ICO Empresas"
                    }
                  ],
                  "groups": [
                    {
                      "id": 1,
                      "name": "Administradores"
                    },
                    {
                      "id": 2,
                      "name": "Gestores"
                    }
                  ],
                  "origins": [
                    {
                      "action": "update",
                      "id": 1,
                      "name": "Fondos Next Generation EU"
                    }
                  ],
                  "provinces": [
                    {
                      "id": 28,
                      "name": "Madrid"
                    },
                    {
                      "id": 46,
                      "name": "Valencia"
                    }
                  ],
                  "regions_types": [
                    {
                      "code": 1,
                      "id": 1,
                      "name": "Objetivo Transición Justa"
                    }
                  ],
                  "types_fund": [
                    {
                      "id": 1,
                      "name": "Subvención"
                    },
                    {
                      "id": 2,
                      "name": "Préstamo"
                    }
                  ],
                  "user_profile": [
                    {
                      "id": 1,
                      "name": "Básico"
                    },
                    {
                      "id": 2,
                      "name": "Pro"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Petición inválida (parámetros o formato incorrecto)."
          },
          "401": {
            "description": "Falta la cabecera Authorization o el token no es válido."
          },
          "403": {
            "description": "No autorizado (token del tipo incorrecto, o sin créditos suficientes en endpoints que consumen créditos)."
          },
          "404": {
            "description": "Recurso no encontrado."
          }
        }
      }
    },
    "/api/v2/experts/available-experts/": {
      "get": {
        "tags": [
          "Expedientes"
        ],
        "summary": "Gestores disponibles",
        "operationId": "v2_workflow_experts_list",
        "description": "Petición para obtener todos los gestores con los que se puede compartir o asignar expedientes y clientes.",
        "security": [
          {
            "ExpertTokenAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta correcta",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "nullable": true
                    },
                    "previous": {
                      "type": "string",
                      "nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "email": {
                            "type": "string"
                          },
                          "first_name": {
                            "type": "string"
                          },
                          "last_name": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "count": 3,
                  "next": null,
                  "previous": null,
                  "results": [
                    {
                      "id": 12,
                      "email": "javier.ortega@fandit.es",
                      "first_name": "Javier",
                      "last_name": "Ortega"
                    },
                    {
                      "id": 34,
                      "email": "marta.sanchez@fandit.es",
                      "first_name": "Marta",
                      "last_name": "Sánchez"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Petición inválida (parámetros o formato incorrecto)."
          },
          "401": {
            "description": "Falta la cabecera Authorization o el token no es válido."
          },
          "403": {
            "description": "No autorizado (token del tipo incorrecto, o sin créditos suficientes en endpoints que consumen créditos)."
          },
          "404": {
            "description": "Recurso no encontrado."
          }
        }
      }
    },
    "/api/v2/experts/current/": {
      "get": {
        "tags": [
          "Autenticación"
        ],
        "summary": "Current de experto",
        "operationId": "v2_auth_current_expert",
        "description": "Petición para obtener toda la información del expert logueado.",
        "security": [
          {
            "ExpertTokenAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta correcta",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "first_name": {
                      "type": "string"
                    },
                    "last_name": {
                      "type": "string"
                    },
                    "username": {
                      "type": "string"
                    },
                    "phone": {
                      "type": "string"
                    },
                    "business_name": {
                      "type": "string"
                    },
                    "profile_avatar": {
                      "type": "string"
                    },
                    "profile_avatar_thumbnail": {
                      "type": "string"
                    },
                    "communities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "provinces": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "actions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "action_items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "applicant_types": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "fund_types": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "region_types": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "activities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "expert_types": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "solution_types": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "is_super_expert": {
                      "type": "boolean"
                    },
                    "groups": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "permissions": {
                      "type": "array",
                      "items": {}
                    },
                    "active_custom_forms": {
                      "type": "integer"
                    },
                    "marketplace_membership": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "funds_limit": {
                          "type": "integer"
                        },
                        "leads_limit": {
                          "type": "integer"
                        },
                        "leads_etg": {
                          "type": "boolean"
                        },
                        "priority": {
                          "type": "integer"
                        }
                      }
                    },
                    "integrations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "extension_name": {
                            "type": "string"
                          },
                          "handler_name": {
                            "type": "string"
                          },
                          "url_api": {
                            "type": "string",
                            "nullable": true
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string"
                          },
                          "is_active": {
                            "type": "boolean"
                          },
                          "extension": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "platforms_with_billing_access": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "marketplace_partners_info": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "schema": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "email": {
                      "type": "string"
                    },
                    "website": {
                      "type": "string"
                    },
                    "contact_email": {
                      "type": "string"
                    },
                    "profile_image": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "experience": {
                      "type": "string"
                    },
                    "services": {
                      "type": "string"
                    },
                    "areas": {
                      "type": "string"
                    },
                    "extra_info": {
                      "type": "string"
                    },
                    "marketplace_visibility": {
                      "type": "boolean"
                    },
                    "marketplace_name": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string"
                    },
                    "assessment": {
                      "type": "integer"
                    },
                    "status": {
                      "type": "integer"
                    },
                    "daily_downloaded_instructions": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    },
                    "monthly_downloaded_instructions": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    },
                    "custom_forms_available": {
                      "type": "integer"
                    },
                    "access_ecosystem": {
                      "type": "integer"
                    },
                    "partners_with_user": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "workflow_funds": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    }
                  }
                },
                "example": {
                  "id": 542,
                  "first_name": "Carlos",
                  "last_name": "Ruiz",
                  "username": "carlos.ruiz",
                  "phone": "+34611223344",
                  "business_name": "Consultora Ayudas y Subvenciones S.L.",
                  "profile_avatar": "https://fandit-media.s3.amazonaws.com/experts/avatars/542.jpg",
                  "profile_avatar_thumbnail": "https://fandit-media.s3.amazonaws.com/experts/avatars/542_thumb.jpg",
                  "communities": [
                    {
                      "id": 1,
                      "name": "Andalucía"
                    },
                    {
                      "id": 13,
                      "name": "Madrid"
                    }
                  ],
                  "provinces": [
                    {
                      "id": 28,
                      "name": "Madrid"
                    },
                    {
                      "id": 41,
                      "name": "Sevilla"
                    }
                  ],
                  "actions": [
                    {
                      "id": 3,
                      "name": "Digitalización"
                    },
                    {
                      "id": 7,
                      "name": "Internacionalización"
                    }
                  ],
                  "action_items": [
                    {
                      "id": 12,
                      "name": "Implantación de ERP"
                    }
                  ],
                  "applicant_types": [
                    {
                      "id": 2,
                      "name": "Pyme"
                    }
                  ],
                  "fund_types": [
                    {
                      "id": 1,
                      "name": "Subvención"
                    },
                    {
                      "id": 4,
                      "name": "Préstamo"
                    }
                  ],
                  "region_types": [
                    {
                      "id": 1,
                      "name": "Nacional"
                    }
                  ],
                  "activities": [
                    {
                      "id": 15,
                      "name": "Industria"
                    }
                  ],
                  "expert_types": [
                    {
                      "id": 2,
                      "name": "Consultoría"
                    }
[...]
